extends ../pug/base.pug

block vars
  -var title = "03"

block content
  section
    h2.subtitle Funciones
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, sequi!

    script(src="scripts.js")