extends ../pug/base.pug

block vars 
  -var title = 05

block content
  section
    //- h2.subtitle Eventos
    //- h2.subtitle Haz click en el siguiente párrafo
    //- p#parrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, dolorum! Rem nemo tenetur dolorem ducimus distinctio quas, doloremque suscipit voluptatibus.
    //- h2.subtitle Crear botón para mostrar la Fecha
    //- a(href="#")#date.btn Fecha
    //- #forDate
    //- h2.subtitle Crear botón para mostrar la Hora
    //- a(href="#")#hour.btn Hora
    //- #forHour
    //- h2.subtitle Crear función resize
    //- p Muestra las dimensiones de la ventana al momento de cambiar su tamaño.
    //- #forResize
    //- h2.subtitle El Objeto Evento
    //- a(href="#")#Btn.btn Obj-even
    //- #forBtn

    form
      input#keylogger(type="password", name="password", placeholder="contraseña")

  //- script(src="alerta.js")
  //- script(src="fecha.js")
  //- script(src="hora.js")
  //- script(src="resize.js")
  //- script(src="objetoEvento.js")
  //- script(src="dibujar.js")
  script(src="keylogger.js")
