/*
  #F3755A;
  #E9D59F;
  #292D3E;
*/

*:not(ul) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  background: rgb(243,117,90);
  color: rgb(41,45,62);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* =============================== */
/* =============================== */
/* =============================== */

.header {
  width: 100%;
  height: 6em;
  line-height: 6em;
  background: rgb(41,45,62);
  margin-bottom: 2em;
}

.header__title {
  color: rgb(233,213,159);
  margin-left: 1em;
}

.container {
  margin: 0 2em;
}
.subtitle {
  padding-bottom: .2em;
  border-bottom: 1px solid rgb(233,213,159);
  margin-bottom: .5em;
}

p {
  margin-bottom: 1.5em;
}

li {
  margin-bottom: .5em;
}

code {
  line-height: 1.8em;
  padding: .2em;
  background: #E9D59F;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 6em;
  height: 2em;
  line-height: 2em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(41,45,62);
  background: #E9D59F;
  box-shadow: inset 0px -.2em 0px rgb(41,45,62);
  margin: 1em auto;
  cursor: pointer;
  transition: all .3s ease;
}

.btn:hover {
  outline: none;
  box-shadow: inset 0px -2em 0px rgb(41,45,62);
  color: #E9D59F;
}